version: "3.8"

services:
  backend:
    build:
      context: ./Backend
    ports:
      - "4000:4000"
    env_file:
      - ./Backend/.env.prod

  frontend:
    build:
      context: ./Frontend
    ports:
      - "4173:4173"
    depends_on:
      - backend
    environment:
      VITE_API_URL: http://backend:4000
