/* Main Container */
.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #ffffff;
}

/* LEFT SECTION */
.left-section {
  flex: 0.8;
  padding: 150px 100px 60px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 42px;
  font-weight: 700;
}

.subtitle {
  color: #555;
  margin-bottom: 40px;
  line-height: 1.6;
}

.input-group-custom {
  margin-bottom: 20px;
}

.input-group-custom input {
  height: 45px;
  border-radius: 30px;
  padding-left: 20px;
  border: 1px solid #dcdcdc;
}

.forgot {
  text-align: right;
  color: #999;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-btn {
  width: 100%;
  /* height: 50px; */
  background: #000;
  color: #fff;
  border-radius: 30px;
  border: none;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
}

.or-line {
  text-align: center;
  margin: 20px 0;
  color: #666;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon-circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.register-text {
  margin-top: 25px;
  text-align: center;
  color: #777;
}

.register-link {
  color: #34aa44;
  font-weight: 600;
  cursor: pointer;
}

/* RIGHT SECTION */
.right-section {
  flex: 1.2;
  /* background: #f7fdf7; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration-card {
  text-align: center;
}

.illustration {
  height: 380px;
  margin-bottom: 20px;
}

.right-text {
  color: #333;
  font-size: 20px;
  font-weight: 500;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .login-container {
    flex-direction: column;
    height: auto;
  }

  .right-section {
    padding: 40px 20px;
  }

  .left-section {
    padding: 40px;
  }
}
.password-wrapper {
  position: relative;
  width: 100%;
}

.password-input {
  padding-right: 45px !important; /* space for icon */
}

.password-toggle-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #333;
  z-index: 10;
}