.app-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;
  padding: 18px 30px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  font-size: 22px;
  font-weight: 600;
  color: #1c1c1c;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.search-box {
  position: relative;
  display: flex;
  align-items: center;
}
.search-box input {
  padding: 10px 12px 10px 36px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 220px;
  font-size: 14px;
  background: #fafafa;
}
.search-box input:focus {
  outline: none;
  border-color: #aaa;
}

.search-icon {
  position: absolute;
  left: 10px;
  font-size: 16px;
  color: #909090;
}
.header-icon {
  font-size: 20px;
  color: #555;
  cursor: pointer;
}
.header-profile img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.header-profile {
  position: relative;
  cursor: pointer;
}
.header-profile img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.profile-popup {
  position: absolute;
  top: 50px;
  right: 0;
  width: 230px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  padding: 12px 0;
  z-index: 200;
}
.popup-header {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  /* padding-bottom: 10px; */
}
.popup-header h4 {
  margin: 0;
  font-size: 16px;
  color: #000;
  font-size: 18px;
}
.popup-header p {
  margin: 3px 0 0;
  font-size: 12px;
  color: #6c757d;
  font-size: 14px;
}

.divider {
  height: 1px;
  background: #eee;
  margin: 8px 0;
}
.popup-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  color: #333;
  transition: 0.2s ease;
  font-weight:700;
}

.popup-item:hover {
  background: #f1f5f9;
  padding: 10px;
}

.popup-item .icon {
  margin-right: 10px;
  font-size: 18px;
  color: #4f46e5;
}

.file-manager {
  position: relative;
}

.file-manager .badge {
  background: #e11d48;
  color: white;
  padding: 2px 7px;
  font-size: 10px;
  border-radius: 10px;
  position: absolute;
  right: 15px;
}

.logout {
  color: #e11d48;
}

.logout .icon {
  color: #e11d48;
}
.popup-profile-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
}
.imageSec {
  padding: 10px;
  margin-top: 5px;
}
.textSecion
{
  padding-top: 10px;
}

.hamburger-icon {
  margin-right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.hamburger-icon svg {
  color: #333;
}
